<mat-toolbar>
    <mat-toolbar-row>
        <div class="navbar col-md-3.5">
            <h3 routerLink = "/Index" routerLinkActive = "active">Blood Bank</h3>
        </div>
        <div class="navbar col-md">
            <button mat-button routerLink = "/Donate-Blood" routerLinkActive = "active">Donate Blood</button>
            <button mat-button routerLink = "/Accept-Blood" routerLinkActive = "active">Request Blood</button>
            <button mat-button routerLink = "/About-Us" routerLinkActive = "active">About Us</button>
            <button mat-button routerLink = "/GetHelp" routerLinkActive = "active">Get Help</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>