<footer class="container-fluid">
    <mat-toolbar class="footerClass">
        <div class="row no-gutters">   
            <div class="col-xl-3">
                <a routerLink = "/GetHelp" routerLinkActive = "active" class="col-xl-4">Get Help</a>
            </div>
            <div class="col-xl-3">
                <a routerLink = "/About-Us" routerLinkActive = "active" class="col-xl-4">About Us</a>
            </div>
            <div class="col-xl-3">
                <a routerLink = "/Donate-Blood" routerLinkActive = "active" class="col-xl-4">Donate Blood</a>
            </div>
        </div>
    </mat-toolbar>
</footer>