    <div class="container">
        <div class="content left middle">
            <div class="title col-md-6 mr-auto" >
                <h2 class = "bp1-show bp1-hero-title" style="color:#ffffff; text-align: center;">The Gift of Blood Is the Gift of Life</h2>
            </div>
            <div class="subtitle col-md-6">
                <span class="hero-subtitle col-md" style="color: #ffffff; font-size: 20px; text-align: center;" >You too can Gift Life. Just Donate</span>
            </div>
        </div>
      </div>
        <div class="container">
        <div class="Blank mr-auto" style="background-color: white;" align="center">
            <br/>
        </div>
      </div>
      
      <div class="container">
        <div class="donate right middle" >
            <div class="donateTitle col-md-6 mr-auto">
                <h1>Gift Life</h1>
                <h3>Become a Donor</h3>
                <button mat-raised-button class="buttons" routerLink = "/Donate-Blood" routerLinkActive = "active">Donate Now!</button>
            </div>
        </div>
      </div>

      <div class="container">
          
        <div class="container mr-auto" style="background-color: white;">
            <br><br>
        
          <h1 align="center"> <font color="#b30000">YOU CAN MAKE A DIFFERENCE! </font></h1>
        
          <div class="row" align="center">
            <div class="column col-xl-6">
              <div class="card" style="width:380px">
                <img class="card-img-top" src="https://media0.giphy.com/media/l3q2E1ni7IzY7RfIk/giphy.gif?cid=790b76119e93ca25c06f2b5fb2c4c44fc61b6f5f660dcf52&rid=giphy.gif" height="300" width="300">
                <div class="media-image-body">
                  <h2>Donate Blood</h2>
                  <p style="height: 175px">For donating the blood, click on the register button given below.</p>
                  <div class="example-button-row">
                  <button mat-raised-button class="buttons" routerLink = "/Donate-Blood" routerLinkActive = "active">Register</button>
                  </div>
              </div>
              </div>
            </div>
        
            <div class="column col-xl-6">
              <div class="card" style="width:380px" >
                <img class="card-img-top"
                src="https://media3.giphy.com/media/g6vkad2MdHjhu/giphy.gif?cid=790b7611917b87d9b6600aa6b2b8521a2a3532b3b94d175c&rid=giphy.gif" height="300" width="300">
                <div class="media-image-body">
                  <h2>Request Blood</h2>
                  <p style="height: 175px">Searching for a donor? Click on the button below to learn more.</p>
                  <div class="example-button-row">
                  <button mat-raised-button class="buttons" routerLink = "/Accept-Blood">Request</button>
                  </div>
              </div>
              </div>
            </div>
            <div class="container">
                <div class="Blank mr-auto" style="background-color: white;" align="center">
                    <br/>
                </div>
              </div>
          </div>
        </div>
         
      </div>
      
        <div class="container">
          <div class="Blank mr-auto" style="background: white;" align="center">
              <br/>
          </div>
        </div>
        <div class="Blank mr-auto">
        </div>