<div class="container">
    <div class="col-xl" style="background-color: white;">
        <br/>
        <h1 style="text-align: center;" ><font color="#b30000"> Our Team  </font></h1><br/>
        
        <div class="row">
            <div class="img-container col-xl-2" id="imageAngad"></div>
            <div class="img-container col-xl-4">
                <h3>Angad Singh</h3>
                <a href="https://drive.google.com/open?id=19Z5TwAm4khlbS2xvGv2pfwf_cXoRvmjY" target="_blank">My Resume</a><br/>
                Git Hub - <a href="https://github.com/Namgad" target="_blank">Click Here!</a><br/>
                LinkedIn - <a href="https://www.linkedin.com/in/angad-singh-26021a16a/" target="_blank">Click Here!</a><br/>
                Instagram - <a href="https://www.instagram.com/_singh_angad/" target="_blank">_singh_angad</a>
                <br>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>